@charset "utf-8";
@import 'superhero-bootstrap-theme.min';
@import "bootstrap-sprockets";
.highlight {
  font-size: 0.8em;
}
h1 {
  padding-left: 10px;
  a:hover {
    text-decoration: none;
  }
}
h3 {
  padding-bottom: 10px;
}
h4 {
  padding-bottom: 5px;
}
#top-link-block {
  &.affix-top {
    position: absolute;
    right: 10px;
  }
  &.affix {
    position: fixed;
    bottom: 18px;
    right: 10px;
  }
}
li.content {
  margin-top: 10px;
}
#footer {
  padding-bottom: 10px;
  padding-left: 10px;
}
