@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";

.highlight {
  font-size: 0.9em;
}

.page-header1 {
  a:hover {
    text-decoration: none;
  }
}

.compare-header3 {
  padding-bottom: 10px;
}

.compare-header4 {
  padding-bottom: 5px;
}

#top-link-block {
  &.affix-top {
    position: absolute;
    right: 10px;
  }

  &.affix {
    position: fixed;
    bottom: 18px;
    right: 10px;
  }
}

li.content {
  margin-top: 10px;
}

.language-list {
  margin-left: -15px;
}

#footer {
  margin: 20px;
}
