!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Language compare
    = stylesheet_link_tag "all", "syntax"

  %body
    #top
    = yield
    #footer
      %a{href: 'https://github.com/evmorov/ruby-coffeescript', title: 'Source code'}
        = image_tag 'GitHub-Mark-32px.png', width: '25'
    = javascript_include_tag  "all"
