%ul.list-unstyled
  - data.code.each_with_index do |section, index|
    - next if section_empty?(section, lang1, lang2)
    - next unless filter.call(index, data.code.size / 2)
    %li.content
      %strong
        %a.scroll.section{href: sanitize("##{section.first}"), title: section.first}= section.first
      %ul
        - section.last.each do |header, filenames|
          - next if no_files?(filenames[lang1.downcase], filenames[lang2.downcase])
          %li
            %a.scroll{href: sanitize("##{section.first}_#{header}"), title: header}= header
